{% extends "base" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h2>Enigma CoLab</h2>

    {% if msg -%}
        <p>{#{% if msg.kind %}{{ msg.kind }}: {% endif %}#}{{ msg.message }}</p>
    {%- endif %}
{% endblock content %}
