{% extends "base" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h2>Enigma CoLab</h2>

    {% if msg -%}
        <p>{#{% if msg.kind %}{{ msg.kind }}: {% endif %}#}{{ msg.message }}</p>
    {%- endif %}

    <section>
        <h3>Current sessions</h3>
        {% if admin %}<a href="/sessions/new">New session</a>{% endif %}
    </section>
    <section>
        <h3>Recent sessions</h3>
    </section>
{% endblock content %}
