{% extends "base" %}
{% block title %}Login{% endblock title %}
{% block content %}
    <form action="/login" method="POST" accept-charset="utf-8">
        <label for="user">username</label>
        <input type="text" name="user" id="user" value="" />
        <label for="password">password</label>
        <input type="password" name="password" id="password" value="" />
        <p><input type="submit" value="Login"></p>
    </form>
{% endblock content %}
