{% extends "base" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h3>New session</h3>

    <form action="/sessions/new" method="POST" accept-charset="utf-8">
        <label for="password">Password</label>
        <input name="password" id="password" type="password" placeholder="Random password" />
        <input type="submit" value="Start" />
    </form>
{% endblock content %}
